:root {
    --dark-color: #212529;
    --gray-color: #aaaaaa;
    --lightgray-color: #dddddd;
    --main-color: #5285c5;
    --orange-color: #f38d3a;
    --white-color: #fff;
}

*{ font-family: 'CenturyGothic', 'Century Gothic'; scroll-behavior: smooth; }
@font-face {
    font-family: "CenturyGothic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CenturyGothic.ttf") format("truetype");
}

a { text-decoration: none; }

.active { color: var(--main-color)!important; }

a svg { color: var(--main-color)!important; }

h1,h2,h3,h4,h5,h6 { color: var(--main-color)!important; }

.century-gothic { font-family: 'CenturyGothic', 'Century Gothic' !important; }

.main-color { color: var(--main-color)!important; }
.background-main-color { background-color: var(--main-color)!important; }
.bg-main-transparent-color { background-color: var(--main-transparent-color)!important; }
.red-color { color: var(--red-color)!important; }

span { color: var(--main-color)!important; }

.icon {
    color: var(--main-color)!important;
    font-size: 8vmin;
}

.thead-light {
    background-color: var(--main-color)!important;
    color: var(--white-color)!important;
}
th {
    font-size: 3vmin !important;
    font-weight: normal;
    text-align: center;
}
td { text-align: center; }

.totalCarrito {
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
}

/* .btn-outline-warning:hover { border-color: var(--gray-color); } */

input::placeholder { color: var(--gray-color); }
input[type=text]{
    border: 1.5px solid var(--gray-color);
    border-radius: 100vmax;
    background-color: white;
    color: var(--main-color);
    padding: 15px 0 15px 0;
    font-size: inherit;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  width: 1.15em;
  height: 1.15em;
  margin-left: auto;
  margin-right: auto;
  place-content: center;
  background-color: var(--main-color);
  color: currentColor;
  font: inherit;
  border: 0.1em solid gray;
  border-radius: 50%;
  transform: translateY(-0.075em);
  cursor: pointer;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;   /* Windows High Contrast Mode */
}
input[type="radio"]:checked::before { transform: scale(1); }
input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type=number]{
  color: var(--main-color);
  border: none;
  text-align: center;
  font-size: inherit;
  font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
  height: 7.5rem;
  padding: 1vmin 7vmin 1vmin 7vmin;
  font-size: inherit;
  cursor: pointer;
}

button { background-color:var(--dark-color); color:var(--white-color); }
button:hover{ background-color:var(--gray-color); color:var(--dark-color); }